@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        @apply outline-indigo-600;
    }

    .nav-bar{
        @apply items-stretch
    }

    /*we will consider the first as logo*/
    .nav-bar .nav-link {
        @apply transition-colors duration-100
        flex items-center px-3

        hover:bg-gray-100
    }

    .nav-bar .nav-group{
        @apply flex
    }

    .problems-table{
        @apply border-collapse table-fixed
    }

    .problems-table thead td{
        @apply text-gray-500 border-b-2
    }

    .problems-table td{
        @apply p-2
    }
    .problems-table tbody tr:nth-child(even){
        @apply bg-gray-100 p-2
    }

    .problems-table tbody tr:nth-child(even) .preview-div{
        @apply h-6 rounded box-border bg-white
    }
    .problems-table tbody tr:nth-child(odd) .preview-div{
        @apply h-6 rounded box-border bg-gray-100
    }

    .problems-table.is-searching *{
        filter: blur(0.7px);
    }
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}